@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 0%;
  --foreground: 0 0% 100%;
  --card: 0 0% 0%;
  --card-foreground: 0 0% 100%;
  --popover: 0 0% 0%;
  --popover-foreground: 0 0% 100%;
  --primary: 163 100% 50%;
  --primary-foreground: 0 0% 0%;
  --secondary: 358 100% 91%;
  --secondary-foreground: 0 0% 0%;
  --muted: 0 0% 15%;
  --muted-foreground: 0 0% 65%;
  --accent: 358 100% 91%;
  --accent-foreground: 0 0% 0%;
  --destructive: 355 65% 60%;
  --destructive-foreground: 0 0% 100%;
  --border: 0 0% 20%;
  --input: 0 0% 20%;
  --ring: transparent;
  --radius: 0.5rem;
}

.dark {
  --background: 0 0% 0%;
  --foreground: 0 0% 100%;
  --card: 0 0% 0%;
  --card-foreground: 0 0% 100%;
  --popover: 0 0% 0%;
  --popover-foreground: 0 0% 100%;
  --primary: 163 100% 50%;
  --primary-foreground: 0 0% 0%;
  --secondary: 358 100% 91%;
  --secondary-foreground: 0 0% 0%;
  --muted: 0 0% 15%;
  --muted-foreground: 0 0% 65%;
  --accent: 358 100% 91%;
  --accent-foreground: 0 0% 0%;
  --destructive: 355 65% 60%;
  --destructive-foreground: 0 0% 100%;
  --border: 0 0% 20%;
  --input: 0 0% 20%;
  --ring: transparent;
}

body {
  @apply bg-black text-white;
}

